fastapi
uvicorn[standard]

langchain
langchain-openai

pydantic
pydantic-settings

python-dotenv
loguru

cryptography
pyjwt

pymysql
sqlglot
sqlparse

requests
pandas

# Privacy & PII Detection
presidio-analyzer
presidio-anonymizer
transformers
torch
spacy

streamlit
plotly
redis